{{ $page := .page }}

<div class="article-metadata">

  {{/* Closing date of the job offer */}}
  {{ if (eq $page.Type "job") }}
  <span class="article-date">
    Closing date:
    {{ if and ($page.Params.closing_date) (ne $page.Params.show_date false) }}
      {{ $page.Params.closing_date | time.Format site.Params.date_format }}
    {{ else }}
      NA
    {{ end }}
  </span>
  {{ end }}

  {{/* Duration of the offered contract */}}
  <span class="middot-divider"></span>
  <span class="article-duration">
    Contract duration: {{ $page.Params.Duration | default "NA" }}
  </span>

  {{/* Link to the original job ad */}}
  <span class="middot-divider"></span>
  <span class="article-ad">
    <a href="{{ $page.Params.ad_url }}" target="_blank">
        <i class="fas fa-external-link-alt"></i>
        Original ad
    </a>
  </span>

  {{/* Linked list of tags connected to the job offer */}}
  {{ $taxonomy := "tags" }}
  {{ if $page.Param $taxonomy }}
  <span class="middot-divider"></span>
  <span class="article-categories">
    <i class="fas fa-folder mr-1"></i>
    {{- range $index, $value := ($page.GetTerms $taxonomy) -}}
      {{- if gt $index 0 }}, {{ end -}}
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    {{- end -}}
  </span>
  {{ end }}

</div>
